div.title {font-family: Courier; padding: 0px; margin: 0px; font-size: 20pt; font-weight: bold;}
div.title a {text-decoration: none; color: #00f;}
body {background-color: #ffe;}
h1 {text-align: right;}
div.slogan {padding: 0px 20px; font-style: italic }
div.menu {background-color: #aaa; color: #ee0; padding: 5px;}
div.menu a {color: #fff; text-decoration: none; font-weight: bold;}
div.menu ul {display: inline; padding: 0px; }
div.menu li {display: inline-block; padding: 5px 30px;}

