<p>Welcome to official simple company web-site.</p>
<p>This site is static i.e. contain only static pages.</p>
<p>Main difference between static sites and dynamic ones is the ultimate rendering speed. Web-server load pages directly 
from files no other programs are involved.</p>
<p>Other features of static sites is: 
<ol>
<li><b>Fast and simple deployment.</b> You can deploy static site in any platform 
which can run webserver. To offer high availability you can simple run multiple web-servers with one static site without 
extra componets like caching servers, reverse proxies and others.</li>
<li><b>Generated pages.</b> In difference among other static sites our site is previously generated. We use template, base pages 
and building script to perform automatic site generation.</li>
<li><b>Safety.</b> There is no scripts is used therefore no chance to hackers attacks</li>
<li><b>Offline mode.</b> You can run static pages offline without Internet Connection</li>
</ol>
</p>

